name: brew pr-pull

on:
  pull_request_target:
    types:
      - labeled
  workflow_dispatch:
    inputs:
      pr_number:
        description: "Pull request number to run brew pr-pull for"
        required: true
        type: string

jobs:
  pr-pull:
    if: >
      (github.event_name == 'pull_request_target' &&
      contains(github.event.pull_request.labels.*.name, 'pr-pull')) ||
      (github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-22.04
    permissions:
      actions: read
      checks: read
      contents: write
      issues: read
      pull-requests: write
    steps:
      - name: Resolve PR
        id: resolve-pr
        uses: actions/github-script@v7
        with:
          script: |
            let prNumber;
            if (context.eventName === 'pull_request_target') {
              prNumber = context.payload.pull_request.number;
            } else if (context.eventName === 'workflow_dispatch') {
              prNumber = context.payload.inputs.pr_number;
            }

            if (!prNumber) {
              core.setFailed('Missing pull request number.');
              return;
            }
            const pr = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber,
            });
            core.setOutput('pr_number', prNumber.toString());
            core.setOutput('head_ref', pr.data.head.ref);
            core.setOutput('head_repo_fork', pr.data.head.repo.fork ? 'true' : 'false');

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up git
        uses: Homebrew/actions/git-user-config@main

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST: ${{ steps.resolve-pr.outputs.pr_number }}
        run: brew pr-pull --debug --tap="$GITHUB_REPOSITORY" "$PULL_REQUEST"

      - name: Push commits
        uses: Homebrew/actions/git-try-push@main
        with:
          branch: main

      - name: Delete branch
        if: steps.resolve-pr.outputs.head_repo_fork != 'true' && steps.resolve-pr.outputs.head_ref != ''
        env:
          BRANCH: ${{ steps.resolve-pr.outputs.head_ref }}
        run: git push --delete origin "$BRANCH"
